<header class="site-header w">

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <nav class="site-nav">

    <!-- Link to the latest month -->
    <a class="latest" href="{{ site.baseurl }}/archive#{{ site.time | date: "%B" }}">{{ site.time | date: "%B" }}</a>

    {% for page in site.pages limit:5 %}
      {% if page.title %}
      <a class="page-link {{ page.slug }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>

</header>
