/******************************************************************
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/

* { box-sizing: border-box; }

/*
	These are the breakpoints for your website. These can be customised to your design. The
	more that I think about it, the more I'm starting to realise that these breakpoints
	need to change for the design, and not for the sizes they are. They're just a guide.
	In fact, I insist, you MUST change these.
*/

// Rems
$base:		20rem;
$mobile: 	30rem;
$phablet:	40rem;
$tablet: 	50rem;
$desklet: 58rem;
$desktop: 65rem;
$cinema: 	75rem;

$breakpoints: (
	mobile:		$mobile,
	phablet:	$phablet,
	tablet:		$tablet,
	desklet:	$desklet,
	desktop:	$desktop,
	cinema:		$cinema
);

@import "mixins/_functions",
				"mixins/mediaqueries",
				"mixins/blend-mode",
				"mixins/brightness",
				"mixins/button",
				"mixins/clearfix",
				"mixins/content-order",
				"mixins/element-counting",
				"mixins/encode-svgs",
				"mixins/flush-columns",
				"mixins/font-smoothing",
				"mixins/gradient",
				"mixins/grids",
				"mixins/inline-block",
				"mixins/modular",
				"mixins/placeholder",
				"mixins/screen-readers",
				"mixins/vertical-align";
