.site-header{
	padding: 1rem 0;
  border-bottom: 1px solid fade-out( black, 0.95 );
}

.site-title{
	font-family: $sans-serif;
	@include modular( 2.5rem );
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	color: $text-colour;

	@include wider-than(tablet){
		text-align: left;
		width: 30%;
	}
}

.site-nav{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 100%;

	@include wider-than(tablet){
		width: 69%;
		text-align: right;
	}

	a{
		@include modular( 1.5rem, $major-third );
		margin-left: 0;
		font-family: $sans-serif;

		@include wider-than(tablet) {
			@include modular-element( margin-left, 1.5rem );
		}

		@include not-wider-than(tablet){
			display: block;
			font-size: 1rem;
			width: 50%;
			float: left;
		}
	}
}